@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown:hover .menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
}
